@use "../../styles/colors" as *;
@use "../../styles/utils" as *;

.searchBar {
    display: flex;
    border: 1px solid $gray;
    border-radius: 0.25rem;
    width: 25%;
    min-width: 200px;
    padding: 0.25rem;
    margin-left: auto;

    input {
      margin-left: 0.25rem;
      width: 100%;
      border: none;
      outline: none;
    }
  }