.footer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(0, #ffe7e7 0%, #ffffff 100%);
  .footerContainer {
    width: 50%;
    max-width: 1200px;
    height: 7.5rem;
    padding: 1rem;
    padding-top: 2rem;
    font-size: 0.9rem;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 2rem;
    color: gray;

    .link {
      cursor: pointer;
      &:hover {
        font-weight: 500;
      }
    }
  }
}
