@use "../../styles/colors" as *;
@use "../../styles/utils" as *;

.buttonPrimary {
  padding: 13px 35px;
  margin-left: 1rem;
  border: none;
  border-radius: 0.3rem;
  font-weight: 500;
  cursor: pointer;
  background-color: $primary;
  color: $white;
  &:hover {
    background-color: darken($color: $primary, $amount: 10);
  }
}
.buttonSecondary {
  padding: 13px 35px;
  margin-left: 1rem;
  border: none;
  border-radius: 0.3rem;
  font-weight: 500;
  cursor: pointer;
  background-color: $lightgray;
  &:hover {
    background-color: lighten($color: $gray, $amount: 10);
  }
}
