$primary : #FB2929;
$primary-light :  #FF6060;
$secondary : #FFD0D0;
$tertiary : #FFE5E5;
$accent : #FFF4F4;
$placeholder : #848484;
$icon : #808080;

$white : #FFFFFF;
$black : #000000;
$gray : #808080;
$lightgray : lightgray;
$darkgray : darken($color: $gray, $amount: 30);

$green : green;
