@use "./colors" as *;
@use "./utils" as *;

.query {
  width: 100%;
  text-align: center;
  min-height: 90vh;

  .queryContainer {
    width: 100%;
    max-width: $max-width;
    margin: auto;
    padding: 1rem;
  }
}
