@use "../../styles/colors" as *;
@use "../../styles/utils" as *;

.header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $tertiary;
  border-bottom: 1px solid $white;

  .headerContainer {
    width: 100%;
    max-width: $max-width;
    height: 42px;
    font-size: 0.85rem;
    font-weight: 400;
    padding: 0 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .client {
      color: $primary;
      cursor: pointer;
    }
    .account {
      margin-left: 1rem;
    }
    .feedback {
      cursor: pointer;
    }
  }
}
